*{
    font-family: 'Montserrat Alternates', sans-serif;;
    font-weight: bold;
    color:#FFF;

}

input, textarea {
    color:#000;
}

.friends, .info, .chatHistory, .login, body {
    background-color: #222;
}

.header, .footer {
    background-color:#333 ;
    text-align:center;
}

a {
    padding-right:10px;
}

.login {
    text-align:center;
}

.chatHistory {
    overflow-y: auto;
    max-height: 100%;
}

.friends {
    border-right:1px solid #555 ;
}


.friends div div {
    padding: 10px;
}

.friends div div:hover {
    cursor: pointer;
    background-color: #537ec5;
    color: white;
}

.styling {
    display:grid;
    grid-template-rows: auto 1fr 50px;
    min-height: 100vh;
    grid-template-columns: 100%;
}

.chat {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin:5px;
    grid-template-areas: 
        "friends chat info"
        "friends send info";
    grid-template-columns: 2fr 6fr 3fr;
    grid-template-rows: minmax(auto, 90%);
}
    
.friends { 
    grid-area: friends;
}

.info { 
    grid-area: info;
    position: relative;
}

.info img {
    max-width: 100%;
}

.info {
    padding: 10px;
}

.chatHistory { 
    grid-area: chat;
    max-height: 75vh;
    min-height: 50vh;
    padding: 0 20px;
}

.sendText { 
    grid-area: send;
}


#mapid {
    height: 300px;
    display: block;
    margin: 2%;
    border: solid black;
    position: absolute;
    bottom: 0;
    width: 96%;
    box-sizing: border-box;
    border-radius: 20px;
}

.right {
    background-color: #111;
    border-radius: 30px 30px 0 30px;
    margin-left:20%;
}

.left {
    background-color: #111;
    border-radius: 30px 30px 30px 0;
    margin-right:20%;
}

.message {
    display:block;
    width: 100%;
    word-wrap: break-word; 
}

.message::after {
    clear:both;
    content: "";
    display: block;
}



.right, .left {
    padding: 20px;
    box-shadow: 0px 4px 10px -3px #CCC;
}

.person {
    width: 100px;
}

.friendList .active {
    background-color: #f39422;
}

.sendText input {
    box-sizing: border-box;
    width: 90%;
    border: none;
    height: 80px;
    border-radius: 20px 0 0 20px;
    padding: 20px;
    font-size: 16px;
}

.sendText button {
    width: 10%;
    border: none;
    box-sizing: border-box;
    height: 80px;
    padding: 20px;
    position: relative;
    top: -1px;
    border-radius: 0 20px 20px 0;
}

.sendText button:hover {
    cursor: pointer;
    background-color:black;

}

.login button{
    margin:10px;
    background-color: #111;
    border-radius:5px;
}