*{
    font-family: sans-serif;
}

h1,h3 {
    text-align:center;
}

a {
    padding-right:10px
}

body {
    background-color: rgb(228, 205, 228);
}

.App {
    background-color: cornflowerblue;
}

.header {
    background-color: #c06a6a;
    text-align:center;
}

.footer {
    background-color: brown;
    text-align:center;
}

.styling {
    display:grid;
    grid-template-rows: auto 1fr 50px;
    min-height: 100vh;
    grid-template-columns: 100%;
}

.login {
    text-align:center;
}

.chatHistory {
    background-color: #537ec5;
    border-radius: 20px;
}

.friends {
    background-color: #b2fcff;
    border-radius: 20px;
}

.info {
    background-color: #293a80;
    border-radius: 20px;
}

.sendText {
    background-color: #f39422;
    border-radius: 20px;
}





.chat {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin:5px;
}
    
.friends { 
    grid-area: 1 / 1 / 6 / 2; 
}

.info { 
    grid-area: 1 / 5 / 6 / 6; 
    }

.chatHistory { 
    grid-area: 1 / 2 / 5 / 5; 
}

.sendText { 
    grid-area: 5 / 2 / 6 / 5; 
}


#mapid {
    height:300px;
    margin:3px;
    border: solid black;
    border-radius:5px;
}